body{

    background-color:#191b4d;
    color: white;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    line-height:1.6em;
}

a:hover{
   
}

a:visited{
    color: grey;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.main-header{
    background-color:rgb(10, 15, 24);
    color: white;
}

#navbar ul{
    padding:0;
}

#navbar ul li{

    float:left;
    list-style:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 30px;

}
 
#navbar ul li a{
    text-decoration: none;
}

#showcase{
    background-image: url('bg.jpg');
    background-position: center;
    height:500px;
    margin-bottom: 30px;
    text-align: left;
    font-size:65px;
    line-height: 1.6em;
}

#showcase h2 {

    padding-top: 50px; 
}

#main{
    float: left;
    width:70%;
    padding: 0 10px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width:30%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: white;
    color:darkblue;
}

#main-footer{

    text-align: center;
    background-color: rgb(10, 15, 24);
    padding:5px;
    margin-top: 20px;
}

@media(max-width:600px){

    #main{

        width: 100%;
        float:none;
    }

    #sidebar{

        width: 100%;
        float:none;
    }
}
}
